@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/*NON OTTIMIZZATA PER SCHERMI PICCOLI ONLY DESKTOP*/

/*GENERALE*/
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
}

div.fixed {
    position: fixed;
    bottom: 30px;
    right: 30px;
  }


/*NAV*/
nav, .nav-links{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    list-style: none;
    background-color: rgb(241, 213, 255);

}

a.navigation:hover{
    border-bottom: 1px solid black;
}

a{
    text-decoration: none;
    color: black;
}

/*BACKGROUND*/

.bg_gray{
    background-color: rgb(241, 213, 255);
}

.bg_2{
    background-color: rgb(226, 169, 255);
}


/*HOME*/

.btn-home{
    padding: 15px;
    background-color: rgb(0, 0, 0);
    margin-top: 40px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
}

.home-page{
    height: 90vh;
}

.profile{
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.name{
    margin-top: 3px;
    font-size: 43px;
    margin-bottom: 0;
}

.subtitle{ 
    margin-top: 0;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a.btn-cv{
    padding: 15px;
    background-color: white;
    margin-top: 10px;
    border-radius: 30px;
    width: 50%;
}

a.btn-cv:hover{
    background-color: rgb(247, 232, 255);
}

.btn-container{
    display: flex;
    gap: 10px;
}



/*ABOUT ME*/

.about-me{
    height: fit-content;
    padding: 25px;
}

.containter-card{   
    display: flex;
    justify-content: center;
}

.card{
    margin-top: 5%;
    width: 30%;
    height: fit-content;
    border: 10px solid black;
    border-radius: 25px;
}

.title-about{
    margin-top: 0;
    font-size: 43px;
    margin-bottom: 0;
}

.title-experience{
    margin-top: 10px;
    font-size: 33px;
}


.paragraph{
    width: 90%;
    margin-bottom: 0;
    border-radius: 25px;
}


.title-container{
    margin: auto;
    width: 70%;
    /*border: 10px solid black;
    border-radius: 25px;*/
}


.education-card{
    width: 70%;
    border: 3px solid rgb(26, 26, 26);
    background-color: rgb(173, 96, 255);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 25px;
}

/*PORTFOLIO*/

.portfolio{
    height: fit-content;
}

.container-portfolio{
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}


.portfolio-card{
    border: 6px solid black;
    border-radius: 25px;
    width: 300px;
    height: 400px;
    flex-wrap: wrap;
}

.pr_image{
    height: 50%;
    background-image: url('foto_prova.png');
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}


.link-portfolio{
    margin-left: 60%;
}



/*CONTATTAMI*/

.contattami{
    height: fit-content;
}

.form{
    width: 50%;
    margin: auto;
}

#email{
    width: 100%;
    border-radius: 20px;
    border: none;
    margin-bottom: 15px ;
}


/*FOOTER*/

footer{
    height: 20vh;
}

.footer-title{
    padding: 70px 0;
    text-align: center;
}




/*UTILITY*/

.flex {
    display: flex;
}

.p_100 {
    padding: 100px;
}

.p_50 {
    padding: 50px;
}

.p_20 {
    padding: 20px;
}

.p_15 {
    padding: 15px;
}

.p_10 {
    padding: 10px;
}

.m_20 {
    margin: 20px;
}
